<!DOCTYPE html>
<html>
<head>
  <title>Feedbacks</title>
  <%= stylesheet_link_tag    "feedbacks/application", :media => "all" %>
  <%= javascript_include_tag "feedbacks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
