- if @feedback.email
  %p
    %b Email отправителя
    #{@feedback.email}

%p
  %b Время создания:
  = @feedback.created_at.strftime "%d %B %Y, %A %H:%M"

%p
  %b Отправлено со страницы
  #{link_to @feedback.url, @feedback.url}

%p
  %b Тема:
  #{@feedback.topic}

%p
  %b Текст:
  %br
  =@feedback.text



